body {
      margin-left: 30px; 
margin-right: 30px;
 font-family: 'Roboto', sans-serif;
    }
 main {
 display: flex; 
 justify-content: space-around;
 border: 1px solid grey;
 padding-bottom: 5px;
 margin-left: 13%;
 width: 80%; align-items: center;
}

 .svg-inline--fa {
float: right;
 position: relative;
top: -24px; left: 36px;
}
 p {
 font-size: 15px;
 margin-left: 10px;
 }
h1 {
 font-weight: 105;
}
a {
   
 color: #1a73e8; 
 font-weight: bold;
 padding-top: 10px;
} div {
 display: inline-block;
 }
 .image img { 
align-items: center;

 height: 280px;
}
.image h2 { 
 text-align: center;
 font-size: 20px;
color: rgb(122, 107, 107);
 font-weight: 200;
}
 button {
 background-color: blue;
color: blue;
 border-radius: 2px;
 padding: 8px;
border: none;
 }
 button:hover {
 background-color: #f6fafe;
}
#skyblue { 
border: none; 
background-color: #1a73e8;
color: white;
 padding: 8px 25px;
 float: right;
 }
#skyblue:hover {
background-color: #3566b8;
}
span {
 float: right; position: relative;
top: -25px; right: 126px;
font-size: 14px; color: #222;
 } 
 /* form section start */ 
 form {
position: relative;
 } 
input {
 margin-left: 10px;
  margin-top: 20px;
 position: relative;
 padding: 8px; 
 border-radius: 5px;
 border: .5px solid #794f4f;
  
}
 
.fname { transition: .5s;
 position: absolute;
  left: 15px; 
top: 29px; 
font-size: 15px;
 color: #5f6368;
 pointer-events: none;
background-color: white;
 }
 .lname {
 transition: .5s;
 position: relative;
 right:180px;
 top: 0; 
font-size: 14px; 
 color: #5f6368;
pointer-events: none; 
 background-color: white;
  }
 .useername {
transition: .5s;
 position: absolute;
 left: 18px;
 top: 90px;
 font-size: 14px;
 color: #5f6368;
 pointer-events: none;
 background-color: white;
}
.username-div { 
  display: block;
 width: 85%; 
 margin-bottom: 10px;
  }
  .username-input { 
   width: 77%;
   display: block;
 }


 



.pass {
  transition: .5s;
 position: relative;
 left: 17px; 
 top: -26px;
  font-size: 14px;
 color: #5f6368;
pointer-events: none;
 background-color: white;
 } 
.main-pass { 
  width: 40%;
 } 
.confirm-password {
left: 17px;
 transition: .5s;
 position: relative;
 right: 0; top: -40px;
 font-size: 15px; 
 color: #5f6368;
 background-color: white;
 } 
  
input[type="text"]:focus~label,input[type="text"]:valid~label { 
                                                                                 
color: #3566b8;
top: 14px;
 left: 19px;
font-size: 12px;
 }
 input[type="text"]:focus,input:valid,input[type="email"]:focus,input[type="password"]:focus {
                                                                                     
 border: 2px solid #3566b8;
    } 
  input[name="Lname"]:focus~label,input[name-="Lname"]:valid~label {
                                                                                    
  color: #3566b8;
top: -20px; left: -180px; 
 font-size: 12px;
}
input[type="email"]:focus~label,input[type="email"]:valid~label { 
 color: #3566b8; 
 top: 70px; left: 21px;
 font-size: 12px;
}
 input[type="password"]:focus~label,input[type="password"]:valid~label {
                                                                                             
  color: #3566b8;
 top: -45px;
 font-size: 12px;
 }